<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>

    

    <div class="container ">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-5 text-center">
          <form class="form-signin p-5" action="/login" method="post">
            <img
              class="mb-4"
              src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
              alt=""
              width="72"
              height="72"
            />      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Username</label>
            <input
              type="text"
              id="inputEmail"
              class="form-control "
              placeholder="Username"
              required=""
              autofocus=""
              name="username"
            />
            <label for="inputPassword" class="sr-only">Password</label>
            <input
              type="password"
              id="inputPassword"
              class="form-control "
              placeholder="Password"
              required=""
              name="password"
            />
           
            <button class=" mt-3 btn btn-lg btn-primary btn-block" type="submit">
              Sign in
            </button>

            <p th:if="${isAuthenticated != null && isAuthenticated eq false}" class="alert alert-danger mt-5"> 
                Introduce un nombre o contraseña correcto
            </p>
            
          </form>
        </div>
      </div>
      
    </div>
    
  </body>
</html>
