<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
  </head>

  <body>
    <div class="row">
      <div class="col s4 offset-s4">
        <div class="card">
          <div class="card-image">
            <img
              src="https://img.freepik.com/vector-gratis/ilustracion-concepto-sesion-movil_114360-135.jpg?w=2000"
              class="materialboxed"
            />
            <span class="card-title">Login</span>
          </div>
          <div class="card-content">
            <form class="" action="/login" method="post">
              <div class="input-field">
                <input
                  id="inputEmail"
                  name="username"
                  type="text"
                  class="validate"
                />
                <label for="inputEmail">Username</label>
              </div>
              <div class="input-field">
                <input
                  id="inputPassword"
                  name="password"
                  type="password"
                  class="validate"
                />
                <label for="inputPassword">Password</label>
              </div>
              
              <button class="waves-effect waves-light btn" type="submit">
                Sign in
              </button>

              <p
                th:if="${isAuthenticated != null && isAuthenticated eq false}"
                class="alert alert-danger mt-5"
              >
                Introduce un nombre o contraseña correcto
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
